.hero-section {
    position: relative;
    max-height: 600px;
    overflow: hidden;
}
  
.hero-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-height: 600px;
}

.marca {
    height: 60px;
}

.img-jumbotron {
    width: 100%;
    border-radius: 10px;
}

.img-fixed {
    width: 100%;
    max-width: 950px;
    height: 500px;
    object-fit: cover;
}

.caballeros {
    color: black;
    text-decoration: underline;
    font-size: 1.5;
}

form textarea {
    resize: none;
}

.first-p {
    color: rgb(228, 131, 218);
}

h1 {
    font-weight: 400;
}

h2 {
    text-decoration: underline;
    font-size: 1.5;
}

p {
    color: black;
    font-size: 1.2rem;
}

.jumbotron {
    background-image: url('../img/elden-ring-nightreign-4k-key-art-without-logo-wallpaper-v0-iba4lotwcj6e1.webp');
    background-size: cover;
    background-position: center;
    height: 60vh;
    position: relative;
}
  
.jumbotron h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
  
.logo {
    width: 60px;
    height: auto;
}
  

.middle-img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}
  
.form-contact label {
    font-weight: 500;
}
  
.form-contact textarea {
    resize: vertical;
}
  

@media (max-width: 768px) {
    .jumbotron {
      height: 40vh;
    }
  
    .jumbotron h1 {
      font-size: 1.8rem;
    }
}

.section-imagenes img {
    width: 100%;
    max-width: 650px;
    height: 500px;
    object-fit: cover;
}

.card-personaje {
    border: none;
    border-radius: 10px;
    background-color: #fff;
}
  
  
.card-personaje img.card-img-personaje {
    height: 300px;
    object-fit: cover;
    width: 100%;
}
  
.card-personaje .card-title {
    font-weight: bold;
    font-size: 1.2rem;
}
  
.card-personaje .card-text {
    font-size: 0.95rem;
    color: #555;
}

.seccion-contenedor {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}
  
.card-testimonio {
    background-color: #fff;
    border-radius: 10px;
}

.faq-container .faq-item {
    border-left: 5px solid #343a40;
    background-color: #f8f9fa;
}

.gallery-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.gallery-section h2,
.ubicacion-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.services-section .service-img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  

.details-section .sub-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}
  
.details-section p {
    font-size: 1rem;
    color: #444;
    padding: 0 10px;
}

.info-columns h2 {
    color: #0d6efd;
    font-size: 1.5rem;
}
  
.info-columns p {
    color: #333;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}